@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.images{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#f2f2fc;
}
.box-content{
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 50px;
}


.food-type{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: 100px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* space between images */
    justify-content: center; /* center the rows (optional) */
  }
  
  .image-container .box {
    width: calc(25% - 10px); /* 3 in a row with space accounted for */
    object-fit: cover; /* keeps the image nicely cropped if needed */
  }
  .image-container .box p
  {
    font-size: 25px;
  }

  .btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover
{
    transform: scale(1.05);
}
